*{
    box-sizing: border-box;
}

header{
    padding: 10px;
    background-color: burlywood;
    color: cadetblue;
}

main{
    margin: 0 auto;
    width: 80%;
}

h1{
    padding: 2%;
    text-align: center;
}

a{
    width: 100%;
    color: white;
    background-color: burlywood;
    text-decoration: none;
    padding: 10px !important;
}

a:hover{color: cadetblue;}


pre{
    width: 100%;
    text-align: left !important;
}

input{
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
}

table{
    width: 40%;
    margin: 2% auto;
}

td{
    padding: 3%;
    border: 2px solid black;
}